html {
	padding: 0;
	margin: 0;
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.frame {
	width: 100vw;
	height: 100vh;
}

#mainpage {
	background: url('../images/Wallpaper/Welcome Page2.jpg') no-repeat center;
	background-size: cover;
	padding: 10px;
}

#filter {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	opacity: .9;
}

#logo {
	position: relative;
	float: right;
	width: 10vw;
	height: 5vh;
}