/* === Start Froce Landscape ===*/
#warningMessage { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warningMessage { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warningMessage { display:none; }
    }
/* === End Froce Landscape ===*/

html {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #000000;
	outline: none;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#center {
	text-align: center;	
	display: table-cell;
	vertical-align: middle;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.frame {
	width: 100vw;
	height: 100vh;
}

/* ==== Start background === */
#background {
	position: absolute;
	z-index: -1;
}

#backgroundWelcome {
	background: no-repeat center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
}

#filter {
	top: 0;
	left: 0;
	background-color: #000000;
	position: absolute;
	opacity: .8;
}
/* ==== End background === */


/* ==== Start warning message === */
#warningMessage {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1a1a1a;
	opacity: 0.95;
	z-index: 2;
	color: #FFFFFF;
}

#warningMessage div {
	width: 100vw;
	height: 100vh;
}
/* ==== End warning message === */


/* ==== Start main page === */
#wrapper {
	position: absolute;
	z-index: 1;
}

.container {
	width: 100vw;
	padding: 10px;
}

#bigTitle {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* ==== End main page === */


/* === Start phone === */
@media only screen and (max-width: 768px) {
    
}
/* === End phone === */


/* === Start tablet === */
@media only screen and (min-width: 768px) {
    
}
/* === End tablet === */


/* === Start desktop === */
@media only screen and (min-width: 992px) {
    #row {
		width: 100%;
		height: 9vh;
	}

	#logo {
		position: relative;
		float: right;
		width: 12vw;
		height: 9vh;
	}

    #mainPage {
		margin-top: 90px;
		margin-bottom: 90px;
	}

	#row2 {
		text-align: center;
		color: #ffffff;
		margin: auto;
	}

	#row2 h1 {
		display: inline-block;
		font-size: 50px;
		font-weight: bold;
		text-transform: uppercase;
	}

	#row3 {
		margin-top: 50px;
		text-align: center;
	}

	#row3 embed {
		margin: 15px;
	}

	#serviceBtn {
		width: 200px;
		height: 200px;
		transition: 0.3s ease-out;
	}

	#serviceBtn:hover {
		transform: rotate(10deg);
	}

	#skillBtn {
		width: 200px;
		height: 200px;
		transition: 0.3s ease-out;
	}

	#skillBtn:hover {
		transform: rotate(10deg);
	}

	#workBtn {
		width: 200px;
		height: 200px;
		transition: 0.3s ease-out;
	}

	#workBtn:hover {
		transform: rotate(10deg);
	}

	#contactBtn {
		width: 200px;
		height: 200px;
		transition: 0.3s ease-out;
	}

	#contactBtn:hover {
		transform: rotate(10deg);
	}

}
/* === End desktop === */


/* === Start large desktop === */
@media only screen and (min-width: 1200px) {
    
}
/* === End large desktop === */
