/* === Start force landscape ===*/
#warningMessage { display: none; }

    @media only screen and (orientation:portrait){
        #serviceBtn { display:none !important; }
        #skillBtn { display:none !important; }
        #workBtn { display:none !important; }
        #contactBtn { display:none !important; }
        #wrapper { display:none; }
        #warningMessage { display:block; }
    }
    @media only screen and (orientation:landscape){
        #serviceBtn { display:inline-block !important; }
        #skillBtn { display:inline-block !important; }
        #workBtn { display:inline-block !important; }
        #contactBtn { display:inline-block !important; }
        #warningMessage { display:none; }
    }
/* === End force landscape ===*/

html {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: black;
	outline: none;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#center {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.frame {
	width: 100vw;
	height: 100vh;
}

.backBtn:hover, .iconMenu:hover {
  cursor:pointer;
}

/* ==== Start background === */
#background {
	position: absolute;
	z-index: -1;  
}

#backgroundWelcome:hover ~ #filter {
	background: red; /* For browsers that do not support gradients */    
}

#backgroundWelcome {
	background: url('../images/Masking/Main_masking2.png') no-repeat center;
	background-size: cover;
	padding: 10px;
	position: absolute;
	z-index: 1;
}

#filter {
	top: 0;
	left: 0;
	z-index: : 0;
	background: #FFFFFF;
    -webkit-transition: background 1s ease;  
    -moz-transition: background 1s ease;  
    -o-transition: background 1s ease;  
    transition: background 1s ease;  
	position: absolute;
}
/* ==== End background === */


/* ==== Start warning message === */
#warningMessage {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1a1a1a;
	opacity: 0.95;
	z-index: 2;
	color: #FFFFFF;
}

#warningMessage div {
	width: 100vw;
	height: 100vh;
}
/* ==== End warning message === */


/* ==== Start main page === */
#wrapper {
	position: absolute;
	z-index: 1;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	display: none;
}

#mainPage {
	text-align: center;
	height: 100vh;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
}

#transition1Page, #transition2Page {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	display: table-cell;
	vertical-align: middle;
	height: 100vh;
}
/* ==== End main page === */


/* ==== Start contextual pages === */
#servicePage, #skillPage, #workPage, #contactPage {
	visibility: hidden;
	background-color: #000000;
	position: absolute;
	z-index: 2;
	display: table-cell;
	vertical-align: middle;
	height: 100vh;
}

.backBtn {
  color: #ffffff;
  font-family: 'poiret one';
}
/* ==== End contextual pages === */


/* === Start phone === */
@media only screen and (max-width: 768px) {
    

}
/* === End phone === */


/* === Start tablet === */
@media only screen and (min-width: 768px) {
    
}
/* === End tablet === */


/* === Start desktop === */
@media only screen and (min-width: 1280px) {
	
/* === End desktop === */


/* === Start large desktop === */
@media only screen and (min-width: 1600px) {
	


}
/* === End large desktop === */
