extends layout

block content
  #background
    #backgroundWelcome.frame
    #filter.frame

  #warningMessage.frame
    #center.container
      i.fa.fa-refresh.fa-5x.fa-spin#rotate
      h2 Please turn your device

  #wrapper 
    .container
      #row
        img(src='/images/Logo/logo2.svg')#logo
    .container#mainPage
      #row2
        h1#bigTitle we are freelance
          | &nbsp;
        h1#w w
        h1#e e
        h1#b b
        | &nbsp;&nbsp;  
        h1#bigTitle developer
      #row3
        object
          embed(src='/images/Menus/serviceBtn.svg')#serviceBtn
        object
          embed(src='/images/Menus/skillBtn.svg')#skillBtn
        object
          embed(src='/images/Menus/workBtn.svg')#workBtn
        object
          embed(src='/images/Menus/contactBtn.svg')#contactBtn        