extends layout

block content
  #background
    #backgroundWelcome.frame
    #filter.frame

  #warningMessage.frame
    #center.container
      i.fa.fa-refresh.fa-5x.fa-spin#rotate
      h2 Please turn your device

  #wrapper
    .container#mainPage
      .row
        img(src='/images/Logo/logoWhite.png')#logo
      .row#nav
        #bungkusMenu
          #overlayService.iconMenu
        #bungkusMenu
          #overlaySkill.iconMenu
        #bungkusMenu
          #overlayWork.iconMenu
        #bungkusMenu
          #overlayContact.iconMenu   
          
  #servicePage
    .container#mainPage
      .row.bungkusBack
        h1.backBtn < back

  #skillPage
    .container#mainPage
      .row.bungkusBack
        h1.backBtn < back

  #workPage
    .container#mainPage
      .row.bungkusBack
        h1.backBtn < back

  #contactPage
    .container#mainPage
      .row.bungkusBack
        h1.backBtn < back

  #transition1Page
  #transition2Page
