extends layout

block content

  #backgroundWelcome.frame
  #filter.frame
  .container#mainPage
    #row
      img(src='/images/Logo/logo2.svg')#logo
    #row2
      h1#bigTitle we are freelance
        | &nbsp; 
      h1#w w
      h1#e e
      h1#b b
      | &nbsp;&nbsp;  
      h1#bigTitle developer
